* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: $dark;
}

body {
    padding-top: 104px;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0px auto;
}