.text_primary {
  font-weight: bold;
  font-size: 144px;
  line-height: 100%;
}

.text_secondary {
  font-weight: 900;
  font-size: 96px;
  line-height: 112px;
}

.text_tertiary {
  font-weight: normal;
  font-size: 36px;
  line-height: 100%;
}

.text_7 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.text_quaternary {
  font-weight: 500;
  font-size: 18px;
  line-height: 96.19%;
}

.text_5 {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.text_6 {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.text_7 {
  font-weight: bold;
  font-size: 64px;
  line-height: 100%;
}
.text_8 {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

.text_9 {
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
}
