.input {
  width: 100%;
  input {
    width: 100%;
    outline: none;
    border: 2px solid $dark;
    box-sizing: border-box;
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: $dark;
    padding: 40px;

    &::placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      color: #656565;
    }
  }
}
